*{
padding: 0;
margin: 0;
}
.hero {
  width: 100%;
  height: 90vh;
  background: url("/images/bg4.png") no-repeat center center;
  background-size: cover;
  position: relative;
}

.hero::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30%; 
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #fffaf5 100%);
  pointer-events: none;
}

.hero-content {
  position: relative;
  top: 100px;
  left: 10px;
  z-index: 2;
  padding: 0 60px;
  margin-top: 100px;
  max-width: 600px;
}

.hero-content h1 {
  font-family: 'Playfair Display', serif;
  font-size: 5.2rem;
  line-height: 1.2;
  background: linear-gradient(-90deg, #6d4c41, #000000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 20px;
}

.hero-content .hindi {
  font-family: 'Noto Serif Devanagari', serif;
  font-weight: 700;
}

.hero-content p {
  font-family: 'Georgia', serif;
  font-size: 1.5rem;
  line-height: 1.6;
  margin-bottom: 30px;
}


.hero-buttons {
  display: flex;
  gap: 20px;
}

.primary-btn {
  padding: 12px 28px;
  background: #6d4c41;
  color: #fff;
  border: none;
  border-radius: 25px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

.primary-btn:hover {
  background: #4e342e;
}

.secondary-btn {
  padding: 12px 28px;
  background: transparent;
  color: #6d4c41;
  border: 2px solid #6d4c41;
  border-radius: 25px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.secondary-btn:hover {
  background: #6d4c41;
  color: #fff;
}

.leaf {
  position: absolute;
  z-index: 1;
  pointer-events: none;
}

.leaf1 {
  top: 10%;
  left: 5%;
  width: 140px;
  transform: rotate(15deg);
}

.leaf2 {
  top: 25%;
  left: 80%;
  width: 150px;
  transform: rotate(-30deg);
}

.leaf4{
  top: 60%;
  left: 20%;
  width: 135px;
  transform: rotate(10deg);
}

.leaf3 {
  top: 70%;
  left: 75%;
  width: 145px;
  transform: rotate(-20deg);
}
.tray{
  position: absolute;
  top: 450px;
  left: 600px;
  width: 600px;
  z-index: 999;
}
.cup{
  position: absolute;
  top: 510px;
  left: 640px;
  width: 480px;
  z-index: 999;
}
.tea{
  position: absolute;
  left: 80px;

  top: 800px;
  width: 400px;
  z-index: 999;
  border: 13px solid white;
}
.tea-para{
  font-family: 'Georgia', serif;
  font-size: 1.3rem;
  line-height: 1.6;
  position: absolute;
  bottom:  -70px;
  left: 1260px;
  background: linear-gradient(-90deg, #6d4c41, #000000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 999;
  width: 400px;
}