.section1 {
    background: linear-gradient(
      to bottom,
      rgba(255, 229, 139, 0) 0%,    
      rgba(255, 229, 139, 0.3) 20%, 
      rgba(255, 229, 139, 0.6) 40%, 
      #ffe58b 70%                   
    );
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 110vh;
    margin-top: 150px;
    gap: 50px;
    text-align: center;
  }
  
  
  .section1 h1 {
    font-family: 'Playfair Display', serif;
    font-size: 4rem;
    background: linear-gradient(-90deg, #6d4c41, #000000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  }
  
  .section1 .hindi {
    font-family: 'Noto Serif Devanagari', serif;
    font-weight: 700;
  }
.tea-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 110px;
    width: 100%;
    max-width: 1600px;
  }
  
  .tea-item {
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  
  .tea-item img {
    width: 280px;
    height: 500px;
    object-fit: cover;
    border-radius: 20px;
    margin-bottom: 15px;
  }
  
  .tea-item h2 {
    font-family: 'Playfair Display', serif;
    font-size: 1.9rem;
    color: #6d4c41;
  }